@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --navbar-height: 8rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font: 1.2rem Roboto, sans-serif;
  color: white;
}

.cover {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
}

.cover img {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover figcaption {
  position: absolute;
  bottom: 0; left: 0;
  margin: 2rem;
  font-size: .8rem;
}

.navbar {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .4);
  transition: background 1s ease-in-out;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, .8);
}

.navbar nav,
.navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav ul {
  list-style: none;
}

.navbar nav ul li {
  margin: 2rem 1rem;
}

.navbar nav a {
  text-decoration: none;
  color: white;
}

.navbar nav a:hover {
  color: silver;
}

.navbar img {
  height: var(--navbar-height);
}


.cta {
  position: fixed;
  left: 0; bottom: 0;
  top: var(--navbar-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta article {
  padding-bottom: 14rem;
}

.cta h1 {
  font-size: 5rem;
  margin: 3rem;
}

.cta a {
  margin: 1rem;
  padding: 2rem 4rem;
  text-decoration: none;
  background: black;
  color: white;
  border: 3px solid transparent;
  transition: all .3s ease-in-out;
}

.cta a:hover {
  background: #F00;
}

.cta a:active {
  border: 3px solid white;
}